<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/common.css">
    <meta charset="UTF-8">
    <title>eCommerce</title>
</head>
<body>

<div class="bg_page w_100 h_100">
    <header> <div th:insert= "~{fragments/navigation(username=${username}, role=${role})}"></div> </header>
    <main class="slider-sidebar flex fd_column ai_center m_0 w_100">
        <div>
            <input type="radio" name="testimonial-7" id="t7-1" checked>
            <input type="radio" name="testimonial-7" id="t7-2">
            <input type="radio" name="testimonial-7" id="t7-3">
            <input type="radio" name="testimonial-7" id="t7-4">
            <input type="radio" name="testimonial-7" id="t7-5">
            <input type="radio" name="testimonial-7" id="t7-6">
            <input type="radio" name="testimonial-7" id="t7-7">
            <div class="testimonials testimonials-7">
                <label class="item" for="t7-1">
                    <a th:href="@{/productUser/list(item='motherboard')}">
                        <img th:src="@{/images/motherboard/motherboard-ASRock.png}" alt="motherboard">
                    </a>
                </label>
                <label class="item" for="t7-2">
                    <a th:href="@{/productUser/list(item='gpu')}">
                        <img th:src="@{/images/gpu/gpu-msi-4070ti-white.png}" alt="gpu">
                    </a>
                </label>
                <label class="item" for="t7-3">
                    <a th:href="@{/productUser/list(item='cpu')}">
                        <img th:src="@{/images/cpu/intel-i9-14th.png}" alt="cpu">
                    </a>
                </label>
                <label class="item" for="t7-4">
                    <a th:href="@{/productUser/list(item='cooler')}">
                        <img th:src="@{/images/cooler/cooler_master_hyper_h412r.png}" alt="cooler">
                    </a>
                </label>
                <label class="item" for="t7-5">
                    <a th:href="@{/productUser/list(item='psu')}">
                        <img th:src="@{/images/psu/psu-corsair-black-750w.png}" alt="psu">
                    </a>
                </label>
                <label class="item" for="t7-6">
                    <a th:href="@{/productUser/list(item='ram')}">
                        <img th:src="@{/images/ram/ram-corsair.png}" alt="ram">
                    </a>
                </label>
                <label class="item" for="t7-7">
                    <a th:href="@{/productUser/list(item='memory')}">
                        <img th:src="@{/images/memory/ssd-sabrent.png}" alt="memory">
                    </a>
                </label>
            </div>
            <br/>
        </div>

        <nav class="flex jc_around w_50 p_075 nav_engine">
            <button class="m_0 btn_bg_none b_0 br_10 t_white">
                <label for="t7-1" class="btn-std-h p_05 m_0">
                    Motherboard
                </label>
            </button>
            <button class="m_0 btn_bg_none b_0 br_10 t_white">
                <label for="t7-2" class="btn-std-h p_05 m_0">
                    GPU
                </label>
            </button>
            <button class="m_0 btn_bg_none b_0 br_10 t_white">
                <label for="t7-3" class="btn-std-h p_05 m_0">
                    CPU
                </label>
            </button>
            <button class="m_0 btn_bg_none b_0 br_10 t_white">
                <label for="t7-4" class="btn-std-h p_05 m_0">
                    Cooler
                </label>
            </button>
            <button class="m_0 btn_bg_none b_0 br_10 t_white">
                <label for="t7-5" class="btn-std-h p_05 m_0">
                    PSU
                </label>
            </button>
            <button class="m_0 btn_bg_none b_0 br_10 t_white">
                <label for="t7-6" class="btn-std-h p_05 m_0">
                    RAM
                </label>
            </button>
            <button class="m_0 btn_bg_none b_0 br_10 t_white">
                <label for="t7-7" class="btn-std-h p_05 m_0">
                    Memory
                </label>
            </button>
        </nav>

    </main>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
    const radios = document.querySelectorAll('.slider-sidebar input[type="radio"]');
    const labels = document.querySelectorAll('.nav_engine label');
    let currentIndex = Array.from(radios).findIndex(radio => radio.checked);

    // Funzione per aggiornare lo stato dei filtri
    function updateFilter() {
        labels.forEach((label, index) => {
            if (radios[index].checked) {
                label.parentElement.classList.add('filter');
                label.parentElement.classList.add('t_black');
                label.style.filter = "brightness(1.2)"; // Applica il filtro al pulsante attivo
            } else {
                label.parentElement.classList.remove('filter');
                label.parentElement.classList.remove('t_black');
                label.style.filter = "none"; // Rimuove il filtro dagli altri pulsanti
            }
        });
    }

    // Aggiorna il filtro al caricamento della pagina
    updateFilter();

    // Funzione per cambiare l'immagine automaticamente ogni 15 secondi
    function changeImage() {
        radios[currentIndex].checked = false;

        // Incrementa l'indice e ciclalo se supera la lunghezza degli input
        currentIndex = (currentIndex + 1) % radios.length;

        radios[currentIndex].checked = true;
        updateFilter(); // Aggiorna lo stato del filtro durante la rotazione automatica
    }

    // Avvia l'intervallo per cambiare l'immagine
    setInterval(changeImage, 15000);

    // Aggiungi l'evento di click per ciascun pulsante
    labels.forEach((label, index) => {
        label.addEventListener('click', function() {
            currentIndex = index;

            // Aggiorna l'elemento "checked" in base al pulsante cliccato
            radios.forEach((radio, i) => {
                radio.checked = i === index;
            });

            updateFilter(); // Aggiorna lo stato del filtro quando un pulsante viene cliccato
        });
    });
    });
</script>


</body>
</html>