<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products view</title>
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
<div th:insert="~{fragments/navigation(username=${username}, role=${role})}"></div>

<div class="product-grid">
    <div th:each="product : ${listProduct.dati}" class="product-card">
        <a th:href="@{/productUser/page(id=${product.idProduct})}" class="product-link">
        <img th:src="@{'/images/'+${product.url}}" th:alt="${product.item}" class="product-image">
        <div class="product-info">
            <div class="info-item">
                <strong>Description:</strong>
                <span  th:text="${product.description}"></span>
            </div>
            <div class="info-item">
                <strong>Price:</strong>
                <span th:text="${product.price}"></span>
            </div>
        </div></a>
    </div>
</div>
</body>
</html>
