<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css"> <!-- Mantieni il tuo file CSS personalizzato -->
    <meta charset="UTF-8">
    <title>Gpu</title>
</head>
<body>
<br>
<nav th:insert= "~{fragments/navigation(username=${username}, role=${role})}"></nav>
<br>
<div class="car-list">
    <div th:each="gpu : ${listProduct.dati}">
        <img th:src="@{/images/gpu.jpg)}" alt="Foto gpu">
        <div class="car-info">
            <span><strong>Description:</strong> <span th:text="${gpu.description}"></span></span>
            <span><strong>Model:</strong> <span th:text="${gpu.model}"></span></span>
            <span><strong>Brand:</strong> <span th:text="${gpu.brand}"></span></span>
            <span><strong>Colour:</strong> <span th:text="${gpu.colour}"></span></span>
            <span><strong>Price:</strong> <span th:text="${gpu.price}"></span></span>
        </div>
    </div>
    <br>
    <div style="height: 50px;"></div> <!-- Spazio aggiuntivo sotto il pulsante -->
</div>

<!-- Include the Sidebar code here -->
<div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="userSidebar" aria-labelledby="userSidebarLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="userSidebarLabel">User Sidebar</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <h2>Sidebar</h2>
        <ul>
            <li><a href="#">Link 1</a></li>
            <li><a href="#">Link 2</a></li>
            <li><a href="#">Link 3</a></li>
        </ul>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>