<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/style.css"> <!-- Mantieni il tuo file CSS personalizzato -->
    <link rel="stylesheet" href="../css/common.css">
    <meta charset="UTF-8">
    <title>BetaCommerce - profile</title>
    <script type="text/javascript">
        window.onload = function() {
            if (performance.navigation.type === 2) {
                // L'utente sta tornando indietro nella cronologia
                if (window.history.replaceState) {
                    window.history.replaceState(null, null, window.location.pathname);
                }
            }
        };
    </script>
</head>
<body>

<!-- Include the navigation fragment and pass username and role -->
<nav th:insert="~{fragments/navigation :: block-navigation(username=${username}, role=${role})}"></nav>
<table class="colorful-table">
    <thead class="table-head">
    <tr>
        <td>Username</td>
        <td>Address</td>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${user.username}"></td>
        <td th:text="${user.address}"></td>
    </tr>
    </tbody>
    <tfoot>
    <tr>
        <td colspan="2" style="align-items: center;">
            <a th:href="@{/user/saveUpdate}">
                <i class="fas fa-user-pen" style="margin-left: auto; margin-right: auto;"></i>
            </a>
        </td>
    </tr>
    </tfoot>
</table>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>