<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/common.css"><!-- Mantieni il tuo file CSS personalizzato -->
    <meta charset="UTF-8">
    <title>BetaCommerce</title>
</head>
<body>
<nav class="flex fd_column ai_center t_white w_100" th:fragment="block-navigation(username,role)">
    <div class="bg w_100">
        <h1 class="flex jc_center ai_center p_05 m_0">
            BetaCommerce
        </h1>
    </div>
    <div class="flex jc_between ai_center w_90 p_05 m_0">
        <button class="btn_bg br_10 p_05 sm-btn-std-w b_0">
            <a class="reset" th:href="@{/home(username=${username},role=${role})}">
                <i class="fas fa-home t_white"></i>
            </a>
        </button>
        <div class="controls">
            <button class="buttonlike-nav-arrows" id="prevButton">
                <i class="fas fa-arrow-left t_white"></i>
            </button>
        </div>
        <div class="dropdown">
            <a class="dropbtn btn_bg btn-std-h br_10 p_05 btn_bg m_0 btn_bg t_white" sec:authorize="hasRole('ROLE_ADMIN')">Liste<i class="fas fa-bars" style="margin-left: auto; padding: 3px 7px"></i></a>
            <ul class="dropdown-content">
                <li><a th:href="@{/admin/listUser(req='USER')}">Utenti</a></li>
                <li><a th:href="@{/admin/listUser(req='ADMIN')}">Admin</a></li>
            </ul>
        </div>
        <button class="btn_bg br_10 p_05 t_white sm-btn-std-w b_0" type="button" data-bs-toggle="offcanvas" data-bs-target="#userSidebar" aria-controls="userSidebar">
            <i class="fas fa-user"></i>
        </button>
        <div class="offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="userSidebar" aria-labelledby="userSidebarLabel">
            <div class="offcanvas-header">
                <h2>Menu</h2>
                <button type="button" class="btn_bg br_10 p_05 sm-btn-std-w b_0" data-bs-dismiss="offcanvas" aria-label="Close">
                    <i class="fa-solid fa-x t_white"></i>
                </button>
            </div>
            <div class="offcanvas-body">
                <ul>
                    <li sec:authorize="!isAuthenticated()"><a class="btn_bg" th:href="@{/login}">Log in</a></li>
                    <li sec:authorize="!isAuthenticated()"><a class="btn_bg" th:href="@{/user/createUser}">Sign in</a></li>

                    <li sec:authorize="isAuthenticated()">
                        <a class="btn-std-h br_10 p_05 btn_bg m_0 btn_bg t_white"
                           th:href="@{/user/accountUser}">
                            <div style="display: flex;">
                                <div style="margin-left: auto;">
                                    <i class="fas fa-address-card" style="margin-left: auto; padding: 3px 7px"></i>
                                </div>
                                <div style="margin-right: auto;">Mio profilo</div>
                            </div>
                        </a></li>
                    <li sec:authorize="hasRole('ROLE_USER')">
                        <a class="btn-std-h br_10 p_05 btn_bg m_0 btn_bg t_white"
                           th:href="@{/user/cartUser}">
                            <div style="display: flex;">
                                <div style="margin-left: auto;">
                                    <i class="fas fa-cart-shopping" style="margin-left: auto; padding: 3px 7px"></i>
                                </div>
                                <div style="margin-right: auto;">Carrello</div>
                            </div>
                        </a></li>
                    <!--  Admin Only  -->
                    <li sec:authorize="hasRole('ROLE_ADMIN')">
                        <a class="btn-std-h br_10 p_05 btn_bg m_0 btn_bg t_white" sec:authorize="hasRole('ROLE_ADMIN')"
                           th:href="@{/admin/createUser(req='ADMIN')}">
                            <div style="display: flex;">
                                <div style="margin-left: auto;">
                                    <i class="fas fa-user-plus" style="margin-left: auto; padding: 3px 7px"></i>
                                </div>
                                <div style="margin-right: auto;">Nuovo Admin</div>
                            </div>
                        </a></li>
                    <li sec:authorize="isAuthenticated()">
                        <a class="btn-std-h br_10 p_05 btn_bg m_0 btn_bg t_white"
                           th:href="@{/logout}">
                            <div style="display: flex;">
                                <div style="margin-left: auto;">
                                    <i class="fas fa-sign-out" style="margin-left: auto; padding: 3px 7px"></i>
                                </div>
                                <div style="margin-right: auto;">Logout</div>
                            </div>
                        </a></li>
                    <li sec:authorize="isAuthenticated()">
                        <a class="btn-std-h br_10 p_05 btn_bg m_0 btn_bg t_white"
                           th:href="@{#}">
                            <div style="display: flex;">
                                <div style="margin-left: auto;">
                                    <i class="fas fa-comment" style="margin-left: auto; padding: 3px 7px"></i>
                                </div>
                                <div style="margin-right: auto;">Contact us</div>
                            </div>
                        </a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="container mt-5">
    <!-- Form di ricerca -->
    <form th:action="@{/productUser/search}" method="get" class="form-inline">
        <div class="input-group">
            <input type="text" name="search" class="form-control" placeholder="Cerca..." aria-label="Cerca">
            <div class="input-group-append">
                <button type="submit" class="btn btn-outline-success">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
    </form>
    </div>
</nav>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Gestione della navigazione tra le pagine
        const prevButton = document.getElementById('prevButton');

        prevButton.addEventListener('click', function () {
            window.history.back(); // Torna indietro nella cronologia del browser
        });
    });
</script>
</body>
</html>
