<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/common.css">
    <meta charset="UTF-8">
    <title>Product Details</title>
</head>
<body>
<div class="bg_page w_100 h_100">
    <header>
        <nav th:insert= "~{fragments/navigation(username=${username}, role=${role})}"></nav>
    </header>
    <div class="product-container">
        <table class="card">
            <thead></thead>
            <tbody>
            <tr>
                <td>
                    <div class="image">
                        <img th:src="@{/images/{url}(url=${view.url})}" alt="Foto product">
                    </div>
                </td>
                <td>
                    <div class="w_100 ai-center">
                        <ul style="margin-top: 50px;">
                            <li align="left"><strong>Description:</strong> <span th:text="${view.description}"></span></li>
                            <li align="left"><strong>Model:</strong> <span th:text="${view.model}"></span></li>
                            <li align="left"><strong>Brand:</strong> <span th:text="${view.brand}"></span></li>
                            <li align="left"><strong>Colour:</strong> <span th:text="${view.colour}"></span></li>
                            <li align="left"><strong>Price:</strong> € <span th:text="${view.price}"></span></li>
                        </ul>
                        <form th:action="@{/cart/createCart}" method="post" style="height: 90%; margin: 0 auto;">
                            <input type="hidden" name="idProduct" th:value="${view.idProduct}" />
                            <button class="buttonlike-cart" type="submit">Insert into cart</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div style="height: 50px;"></div>
</div>
</body>
</html>