<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="page-wrapper">
    <br>
    <nav th:insert="~{fragments/navigation :: block-navigation('Elenco Laptop')}"></nav>
    <br>
    <br>
    <div align="center" class="content">
        <table class="colorful-table">
            <thead class="table-head">
            <tr>
                <th>id</th>
                <th>Ram</th>
                <th>Cpu</th>
                <th>Gpu</th>
                <th>Memory</th>
                <th>Motherboard</th>
                <th>Colour</th>
                <th>Description</th>
                <th>Price</th>
                <th>Marca</th>
                <th>Model</th>
                <th>idProduct</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pc: ${pc.dati}">

                <td th:text="${pc.id}"></td>
                <td th:text="${pc.description}"></td>
                <td th:text="${pc.brand}"></td>
                <td th:text="${pc.model}"></td>
                <td th:text="${pc.colour}"></td>
                <td th:text="${pc.cpu}"></td>
                <td th:text="${pc.gpu}"></td>
                <td th:text="${pc.ram}"></td>
                <td th:text="${pc.memory}"></td>
                <td th:text="${pc.motherboard}"></td>
                <td th:text="${pc.price}"></td>
                <td th:text="${pc.idProduct}"></td>
                <td class="edit"><a th:href="@{/updatePc(id=${pc.id})}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                <td class="delete"><a th:href="@{/removePc(id=${pc.id})}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
            </tbody>
        </table>
        <br>
        <a th:href="@{/createPc" class="buttonlike">Crea Laptop</a>
        <div style="height: 50px;"></div>
    </div>
</div>
</body>
</html>