<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>List Users</title>
</head>

<body>
<div class="page-wrapper">
    <br>
    <nav th:insert="~{fragments/navigation :: block-navigation ( username=${username}, role=${role} ) }"></nav>
    <br>
    <br>
    <div align="center" class="content">
        <table class="colorful-table">
            <thead class="table-head">
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Password</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user: ${listUser.dati}">

                <td th:text="${user.id}"></td>
                <td th:text="${user.username}"></td>
                <td th:text="${user.password}"></td>

                <td class="edit"><a th:href="@{/admin/updateUser(id=${user.id})}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                <td class="delete"><a th:href="@{/admin/removeUser(id=${user.id})}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
            </tbody>
        </table>
        <br>
        <a th:href="@{/admin/createUser}" class="buttonlike">Crea Admin</a>
        <div style="height: 50px;"></div>
    </div>
</div>
</body>
</html>