<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
<div class="page-wrapper">
    <br>
    <nav th:insert="~{fragments/navigation :: block-navigation('Elenco Laptop')}"></nav>
    <br>
    <br>
    <div align="center" class="content">
        <table class="colorful-table">
            <thead class="table-head">
            <tr>
                <th>id</th>
                <th>Description</th>
                <th>Marca</th>
                <th>Model</th>
                <th>Colour</th>
                <th>Price</th>
                <th>idProduct</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="memory: ${listMemory.dati}">

                <td th:text="${memory.id}"></td>
                <td th:text="${memory.description}"></td>
                <td th:text="${memory.brand}"></td>
                <td th:text="${memory.model}"></td>
                <td th:text="${memory.colour}"></td>
                <td th:text="${memory.price}"></td>
                <td th:text="${memory.idProduct}"></td>
                <td class="edit"><a th:href="@{/updateMemory(id=${memory.id})}"><i class="fa fa-pencil" aria-hidden="true"></i></a></td>
                <td class="delete"><a th:href="@{/removeMemory(id=${memory.id})}"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
            </tr>
            </tbody>
        </table>
        <br>
        <a th:href="@{/createMemory}" class="buttonlike">Crea Memory</a>
        <div style="height: 50px;"></div>
    </div>
</div>
</body>
</html>