body {
  margin: 0;
  background: #282d34;
  color: white;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  min-height: 100vh;
  position: relative;
  background-image: url('../resources/static/images/Sfondo.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.image img{
    max-width : 500px;
}

.image {
    margin-top: 200px;
    margin-left: auto;
    margin-right: auto;
    border: 2px solid #fff;
}

.image img span{
    align-items: center;
}

.background-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  background-size: cover;
  background-position: center;
}

/* Aggiungi questa regola per posizionare il menu in alto */
/* nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 10;
} */

.navbar {
  display: flex;
  justify-content: flex-end; /* Allinea gli elementi alla fine (destra) */
  align-items: center;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 10px; /* Aggiunge spaziatura interna */
}

.navbar .btn.btn-secondary {
    margin-left: 0;
    margin-right: auto;
}

.navbar .btn {
    margin-left: 5px; /* Aggiungi spazio tra i pulsanti */
    margin-right: 5px;
}

.navbar .btn.btn-primary {
    margin-left: auto; /* Spinge il pulsante verso destra */
    margin-right: 0;
}

/* Pulsante che apre la sidebar */
.navbar .btn-secondary,
.navbar .btn-primary {
  width: 50px;
  height: 40px;
  background-color: #282d34 !important;
  border: 2px solid #282d34 !important;
  color: #ffffff;
}

/* Pulsante che apre la sidebar */
.navbar .btn-secondary:hover,
.navbar .btn-primary:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: 2px solid rgba(255, 255, 255, 0.5) !important;
  color: #ffffff;
}

.navbar .btn-secondary i,
.navbar .btn-primary i {
  font-size: 18px;
  color: #ffffff;
}

.navbar a.logout i {
  font-size: 18px; /* Regola la dimensione dell'icona */
  color: #ffffff; /* Colore dell'icona */
  transition: color 0.3s ease; /* Aggiungi una transizione */
}



/* Aggiungi questa regola per modificare l'aspetto del testo nel menu */
.navbar a {
  height: 40px;
  font-size: 18px; /* Aumenta leggermente la dimensione del testo */
  transition: background-color 0.3s ease; /* Aggiungi un effetto di transizione */
  background-color: #282d34 !important;
  border: 2px solid #282d34 !important;
  border-radius: 5px;
  color: #ffffff;
  display: flex;
  padding: 5px 10px;
}

.navbar a:link,
.navbar a:visited {
  background-color: #282d34;
  color: #ffffff;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

/* Cambia il colore di sfondo al passaggio del mouse */
.navbar a:hover {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: 2px solid rgba(255, 255, 255, 0.5) !important;
}


.offcanvas {
  background-color: #101214 !important; /* Imposta sfondo nero */
  color: #fff !important; /* Imposta testo bianco */
}

.btn-secondary,
.btn-primary {
  background-color: #282d34 !important; /* Imposta il bottone su un grigio scuro */
  border-color: #282d34 !important;
}
.offcanvas-header, .offcanvas-body {
  background-color: #101010 !important; /* Sfondo nero per la sidebar */
}
.offcanvas-title {
  background-color: #141414 !important; /* Sfondo nero per la sidebar */
  color: #fff !important; /* Imposta i link e testi sulla sidebar in bianco */
}

.btn-close {
  background-color: rgba(255, 255, 255, 0.5) !important;
  border-radius: 50px;
  margin-left: auto;
}

.content {
  flex: 1;
}

.sidebar {
  width: 250px;
  background-color: #f4f4f4;
  /*border-left: 2px solid #ccc;*/
}

.sidebar h2 {
  margin-top: 0;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li a {
  text-decoration: none;
  color: #333;
}

.sidebar ul li a:hover {
  color: #007BFF;
}

.description {
  font-weight: 200;
}

a:link, a:visited {
  text-decoration: none;
}

a:hover {
  cursor: pointer;
  color: #ffffff;
}

input:not([type="checkbox"]),
select {
  min-width: 15vh;
  padding: 0.5vh;
  border-radius: 10px;
  border: 1px solid #4d4d4d;
  outline: none;
  font-weight: 200;
  font-size: 1em;
}

.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-bottom: 10vh;
  width: 100%;
}

.form_content {
  display: flex;
  flex-direction: row;
  gap: 3vh;
  flex-wrap: wrap;
}

.title {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  color: black;
  letter-spacing: 2vh;
}
form {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
table {
  border-collapse: collapse;
  border: 2px solid #8a8a8a;
}

th {
  background-color: #cecece;
  padding: 3vh;
}

.tr_alternative {
  background-color: #e0e0e0;
}

td {
  text-align: center;
  padding: 1vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
}


.buttonlike {
  margin-top: 3vh;
  padding: 1.5vh;
  border: 2px solid #0094d4;
  background-color: #0094d4;
  color: #ffffff;
  outline: none;
  border-radius: 50px;
  width: 20vh;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
}

.buttonlike:hover {
  margin-top: 3vh;
  padding: 1.5vh;
  border: 2px solid #0094d4;
  background-color: #282d34;
  color: #0094d4;
  outline: none;
  border-radius: 50px;
  width: 20vh;
  font-size: 1em;
  transition: all 0.3s ease-in-out;
}

main {
  margin:150px 200px;
}

.container-error{
  margin-top: 10px;
  width:100%;
  height:30px;
  display:flex;
  align-items:center;
  background-color: rgba(255, 0, 0, 0.2);
  justify-content: center;
  border-radius: 10px;

}

.testimonials .item:hover img {
  transform: scale(1.1);
  transition: transform 0.5s ease;
}

/* Nascondi solo gli input radio sopra il carosello */
.slider-sidebar input[type="radio"] {
  display: none; /* Nasconde gli input radio sopra */
}
.testimonials{
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background: none;
  min-height: 600px;
  perspective: 1080px;
  overflow: visible;
}


.testimonials .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  margin:0;
  padding: 10px;
  background: none;
  filter : drop-shadow(2px 2px 30px white);
  overflow: visible;
}

.testimonials .item{
  height:450px;
  width: 450px;
  padding: 30px;
  border-radius: 2%;
  background: none;
  position: absolute;
  /*border: 0px solid none;*/
  text-align: center;
  transition: transform 0.4s, opacity 0.4s; /* Aggiunto il controllo dell'opacitÃ  */
  user-select: none;
  cursor: pointer;
  overflow: hidden;
}
.testimonials .item h1{font-size: 114px; color: white;}
.dots{display: flex; justify-content: center;align-items: center;}
.dots label{
  height: 5px;
  width: 5px;
  border-radius: 50%;
  cursor: pointer;
  background-color: #413B52;
  margin: 7px;
  transition-duration: 0.2s;
}

#t-1:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-4"],
#t-5:checked ~ .dots label[for="t-5"],
#t-6:checked ~ .dots label[for="t-6"] {
  transform: scale(1.5);
  background-color: #fff;
  box-shadow: 0px 0px 0px 2px #dddddd24;
}

#t-1:checked ~ .dots label[for="t-2"],
#t-2:checked ~ .dots label[for="t-1"],
#t-2:checked ~ .dots label[for="t-3"],
#t-3:checked ~ .dots label[for="t-2"],
#t-3:checked ~ .dots label[for="t-4"],
#t-4:checked ~ .dots label[for="t-3"],
#t-4:checked ~ .dots label[for="t-5"],
#t-5:checked ~ .dots label[for="t-4"],
#t-5:checked ~ .dots label[for="t-6"],
#t-6:checked ~ .dots label[for="t-5"] {
  transform: scale(1.2);
}

/* Nascondi completamente il label che si trova in fondo */
#t-1:checked ~ .testimonials label[for="t-4"],
#t-2:checked ~ .testimonials label[for="t-5"],
#t-3:checked ~ .testimonials label[for="t-6"],
#t-4:checked ~ .testimonials label[for="t-1"],
#t-5:checked ~ .testimonials label[for="t-2"],
#t-6:checked ~ .testimonials label[for="t-3"] {
  opacity: 0; /* Nascondi */
  pointer-events: none; /* Disabilita interazioni */
  transform: translate3d(0, 0, -500px); /* Portalo indietro nella scena */
}

/* Posizionamento e visibilitÃ  dei label laterali */
#t-1:checked ~ .testimonials label[for="t-3"],
#t-2:checked ~ .testimonials label[for="t-4"],
#t-3:checked ~ .testimonials label[for="t-5"],
#t-4:checked ~ .testimonials label[for="t-6"],
#t-5:checked ~ .testimonials label[for="t-1"],
#t-6:checked ~ .testimonials label[for="t-2"] {
  transform: translate3d(500px, 0, -350px) rotateY(45deg);
  z-index: 2;
  opacity: 0.5;
}

#t-1:checked ~ .testimonials label[for="t-2"],
#t-2:checked ~ .testimonials label[for="t-3"],
#t-3:checked ~ .testimonials label[for="t-4"],
#t-4:checked ~ .testimonials label[for="t-5"],
#t-5:checked ~ .testimonials label[for="t-6"],
#t-6:checked ~ .testimonials label[for="t-1"] {
  transform: translate3d(320px, 0, -160px) rotateY(35deg);
  z-index: 3;
  opacity: 0.7;
}

#t-2:checked ~ .testimonials label[for="t-1"],
#t-3:checked ~ .testimonials label[for="t-2"],
#t-4:checked ~ .testimonials label[for="t-3"],
#t-5:checked ~ .testimonials label[for="t-4"],
#t-6:checked ~ .testimonials label[for="t-5"],
#t-1:checked ~ .testimonials label[for="t-6"] {
  transform: translate3d(-320px, 0, -160px) rotateY(-35deg);
  z-index: 3;
  opacity: 0.7;
}

#t-3:checked ~ .testimonials label[for="t-1"],
#t-4:checked ~ .testimonials label[for="t-2"],
#t-5:checked ~ .testimonials label[for="t-3"],
#t-6:checked ~ .testimonials label[for="t-4"],
#t-2:checked ~ .testimonials label[for="t-6"],
#t-1:checked ~ .testimonials label[for="t-5"] {
  transform: translate3d(-500px, 0, -350px) rotateY(-45deg);
  z-index: 2;
  opacity: 0.5;
}

/* Il label attivo viene visualizzato */
#t-1:checked ~ .testimonials label[for="t-1"],
#t-2:checked ~ .testimonials label[for="t-2"],
#t-3:checked ~ .testimonials label[for="t-3"],
#t-4:checked ~ .testimonials label[for="t-4"],
#t-5:checked ~ .testimonials label[for="t-5"],
#t-6:checked ~ .testimonials label[for="t-6"] {
  z-index: 4;
  opacity: 1; /* Rendi visibile solo l'elemento selezionato */
  transform: translate3d(0, 0, 0) rotateY(0deg); /* Posizionalo in primo piano */
}

.slider-sidebar .testimonials .item {
  border: none;
  background: none;
  padding: 10px;
  margin: 0;
  overflow: visible;
}

.slider-sidebar .testimonials .item a{
  border: none;
  background: none;
  padding: 10px;
  margin: 0;
  overflow: visible;
}

.slider-sidebar .testimonials .item img {
  border: none;
  padding: 10px;
  background: none;
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: visible;
}

.slider-sidebar .testimonials label {
  border: none;
  padding: 10px;
  background: none;
  margin: 0;
  overflow: visible;
}

.slider-sidebar .testimonials {
  overflow: visible;
}

.offcanvas-header h2 {
  display: block; /* Rende i link come blocchi per occupare tutta la larghezza */
  width: 100%; /* Assicura che il link occupi tutta la larghezza */
  text-align: center; /* Allinea il testo al centro */
  color: #ffffff; /* Colore del testo */
}

.offcanvas-body ul {
  list-style-type: none;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}

.offcanvas-body ul li {
  padding: 2px 0;
  width: 100%;
}

.offcanvas-body ul li a {
  display: block;
  width: 100%;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  color: #ffffff;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  min-height: 30px;
  line-height: 20px;
}

.offcanvas-body ul li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Dropdown menu styling */
.dropdown .dropdown-content {
    padding: 0;
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.0);
    border-radius: 5px;
    min-width: 100px;
    filter: drop-shadow(0px 5px 15px #000f);
    list-style-type: none; /* Rimuove i punti elenco anche dal dropdown */
}

/* Dropdown items */
.dropdown .dropdown-content li {
    margin-top: 5px;
    width: auto;
    border-radius: 5px;
    background-color: #333;
}

/* Dropdown links */
.dropdown .dropdown-content li a {
    padding: 5px 10px;
    color: #fff;
    text-decoration: none;
    border-radius: none;
    display: block;
    text-align: left;
}

.dropbtn {
  text-decoration: none;
  margin-right: 10px;
  width: 100px;
}

/* Show dropdown on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Dropdown link hover */
.dropdown .dropdown-content li a:hover {
    background-color: #575757;
}

table{
  margin: auto;
  margin-top: 22%;
}

table.colorful-table {
  font-family: Arial, Helvetica, sans-serif;
  width: 350px;
  height: 100px;
  text-align: center;
  border-collapse: collapse;
}
table.colorful-table td, table.colorful-table th {
  border: 1px solid #FFFFFF;
  padding: 3px 2px;
}
table.colorful-table tbody td {
  font-size: 13px;
}
table.colorful-table tr:nth-child(even) {
}
table.colorful-table thead {
  background: #64B464;
  border-bottom: 0px solid #FFFFFF;
}
table.colorful-table thead th {
  font-size: 17px;
  font-weight: bold;
  color: #FFFFFF;
  text-align: center;
  border-left: 0px solid #FFFFFF;
}
table.colorful-table thead th:first-child {
  border-left: none;
}

table.colorful-table tfoot {
  font-size: 14px;
  font-weight: normal;
  color: #FFFFFF;
  background: #007BFF;
}
table.colorful-table tfoot td {
  font-size: 14px;
}
table.colorful-table tfoot td a{
  background: transparent;
  color: #fff;
}
table.colorful-table tfoot td a:hover{
  color: #005599;
  transition: color 0.3 ease-in-out;
}
