<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <link rel="stylesheet" href="../css/style.css"> <!-- Mantieni il tuo file CSS personalizzato -->
    <meta charset="UTF-8">
    <title>Monitor</title>
</head>
<body>
<br>
<nav th:insert= "~{fragments/navigation(username=${username}, role=${role})}"></nav>
<br>

<a class = "image" >-->
   <div th:each="monitor : ${listMonitor.dati}">

       <img th:src="@{/images/monitor/Hp-monitor.png}" alt="monitor">
       <div >
           <span><strong>Description:</strong> <span th:text="${monitor.description}"></span></span>
           <span><strong>Price:</strong> <span th:text="${monitor.price}"></span></span>
       </div>
       <div>
           <a th:href="@{/monitor/pageMonitor}"></a>
       </div>

   </div>
</a>
   <br>
   <div style="height: 50px;"></div> <!-- Spazio aggiuntivo sotto il pulsante -->


<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
</body>
</html>