<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<a class = "image" >
    <div th:each="monitor : ${listMonitor.dati}">
        <img th:src="@{/images/monitor/monitor-dell.png}" alt="Foto monitor">
        <div >
            <span><strong>Description:</strong> <span th:text="${monitor.description}"></span></span>
            <span><strong>Model:</strong> <span th:text="${monitor.model}"></span></span>
            <span><strong>Brand:</strong> <span th:text="${monitor.brand}"></span></span>
            <span><strong>Colour:</strong> <span th:text="${monitor.colour}"></span></span>
            <span><strong>Price:</strong> <span th:text="${monitor.price}"></span></span>
        </div>
    </div>
</a>

<div>
    <!--
        porco dio,
        if monitor.quantity>0 mostra il bottone illuminato || articolo esaurito
    -->
    <a th:href="@{/monitor/insertCart}"> Insert into cart</a>
</div>

</body>
</html>