<!DOCTYPE html>
<html lang="it" xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" href="../css/style.css">
    <meta charset="UTF-8">
    <title>eCommerce - home</title>
</head>
<body>

<nav th:insert= "~{fragments/navigation(username=${username}, role=${role})}"></nav>

<div class="slider-sidebar" align="center">
    <input type="radio" name="testimonial" id="t-1">
    <input type="radio" name="testimonial" id="t-2">
    <input type="radio" name="testimonial" id="t-3" checked>
    <input type="radio" name="testimonial" id="t-4">
    <input type="radio" name="testimonial" id="t-5">
    <input type="radio" name="testimonial" id="t-6">
    <div class="testimonials">
        <label class="item" for="t-1">
            <a th:href="@{/productUser/list(item='laptop')}">
                <img th:src="@{/images/laptop/acer-predator-helios.png}" alt="laptop">
            </a>
        </label>
        <label class="item" for="t-2">
            <a th:href="@{/productUser/list(item='pc')}">
                <img th:src="@{/images/pc/pc-fisso.png}" alt="pc">
            </a>
        </label>
        <label class="item" for="t-3">
            <a th:href="@{/productUser/list(item='monitor')}">
                <img th:src="@{/images/monitor/Hp-monitor.png}" alt="monitor">
            </a>
        </label>
        <label class="item" for="t-4">
            <a th:href="@{/productUser/list(item='mouse')}">
                <img th:src="@{/images/mouse/mouse-trust-nero.png}" alt="mouse">
            </a>
        </label>
        <label class="item" for="t-5">
            <a th:href="@{/productUser/list(item='keyboard')}">
                <img th:src="@{/images/keyboard/keyboard-blademaster-black.png}" alt="keyboard">
            </a>
        </label>
        <label class="item" for="t-6">
            <a th:href="@{/productUser/list(item='components')}">
                <img th:src="@{/images/file.png}" alt="components">
            </a>
        </label>
    </div>
    <br/>
    <div class="dots">
        <label for="t-1"></label>
        <label for="t-2"></label>
        <label for="t-3"></label>
        <label for="t-4"></label>
        <label for="t-5"></label>
        <label for="t-6"></label>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        const radios = document.querySelectorAll('.slider-sidebar input[type="radio"]');
        let currentIndex = 0;

        function changeImage() {
            radios[currentIndex].checked = false;
            currentIndex = (currentIndex + 1) % radios.length;
            radios[currentIndex].checked = true;
        }
        setInterval(changeImage, 15000);

    });

</script>


</body>
</html>